#wrapper {
     height: 200px;
     width: 1200px;
     }

h1{
     width: 600px;
     text-align: center;
     background-color: coral;
}

.content1{
     height: 100px;
     width: 600px;
     background-color: blueviolet;
}


.content2{
     height: 100px;
     width: 600px;
     background-color: red;
}
.content3{
     height: 100px;
     width: 600px;
     background-color:green;
}